/* TABLETTE */
/* TABLETTE */
/* TABLETTE */
/* TABLETTE */
/* TABLETTE */

@media only screen and (max-width: 960px) {
	body {
		width: 800px;
		max-width: 100vw;
		margin: 50px auto 50px auto;
		/*background: red;*/
	}

	.scroll {
    grid-column: 2 / span 3;
    grid-row: 7 / span 4;
	}

	.desktopOnly {
		display: none;
	}


	.mobileTabletteOnly {
		display: block;
		max-width: 80vw;
		margin: auto;
	}

	.mobileTabletteOnly img {
		width: 700px;
	}

	.projet1, .projet2, .projet3, .projet4, .projet5 {
		padding-bottom: 6em;
	}

	.mobileTabletteOnly h3 {
		margin: 5px 0 0 0;
		font-size: 2em;
	}

	.mobileTabletteOnly img {
		height: auto;
	}

	/* Page A propos*/

	.bioImg, .mesCompetences {
	    width: 640px;
	}


	.mesCompetences .items_1 img, .mesCompetences .items_2 img, .mesCompetences .items_3 img {
		width: 50%;
	}

	span {
		background-position-y: 13px;
	}

	/* Page Mademoiselle Loyal*/
	.ML .context_right {
    grid-column: 6/ span 4;
    grid-row: 1 / span 2;
    padding: 1em 0 0 2em;
	}

	.ML .context_left {
    grid-column: 2 / span 4;
    grid-row: 1 / span 2;
    padding: 1em 2em 0 0;
	}

	.ML .responsive, .ML .ux{
		grid-row: 3 / span 5;
	}

	.ML p {
	font-size: 16px;
	margin: 0;
	}

	.ML .projet .description {
	width: 640px;
	}

}

/* SMARTPHONE */
/* SMARTPHONE */
/* SMARTPHONE */
/* SMARTPHONE */
/* SMARTPHONE */

@media only screen and (max-width: 480px) {	
	body {
		width: 400px;
	}

	.presentation, .competences {
		display: block;
		margin : 3em auto;
	}

	.presentation>img, .presentation>.texte, .competences, .items_x3, .items_x3>img {
		max-width: 100%;
	}

	.items_x3>h4 {
		font-size: 20px;
	}

	p, header {
		font-size: 18px;
	}

	.mobileTabletteOnly {
		display: block;
		max-width: 380px;
		margin: auto;
	}

	.projet1, .projet2, .projet3, .projet4, .projet5 {
		padding-bottom: 2em;
	}

	.mobileTabletteOnly img {
		height: auto;
	}

	/* page a propos */

	.aPropos p {
		font-size: 16px;
	}

	.bioImg, .mesCompetences {
    width: 320px;
	}

	.bioImg, .mesCompetences .itemsx3 {
    display: block;
	}

	.bioImg .biography, .bioImg img {
	max-width: 100%;
	}

	.mesCompetences .items_1, .mesCompetences .items_2, .mesCompetences .items_3 {
		width: 100%;
		padding-bottom: 4em;
	}

	.mesCompetences p, .mesCompetences h4 {
		margin: 5px 0;
	}

	.mesCompetences img {
		margin: 0 20%;
	}

	/* page projet : ML*/
	.ML .intro {
    font-size: 35px;
	}

	.ML .first {
    grid-column: 2/ span 4;
    grid-row: 8 / span 1;
	}

	.ML .second {
    grid-column: 6/ span 4;
    grid-row: 8 / span 1;
	}

	.ML .projet .description {
	width: 320px;
	}

	.ML .projet .description .context, .ML .projet .description .demand {
	width: 100%;
	} 

	.ML .projet .description, 	.ML .projet .illustration {
	display: block;
	}

	.ML .projet .illustration .responsive, .ML .projet .illustration .ux  {
	padding: 1em 0;
	}

	.ML .projet .mockup, .ML .maquette {
	  margin-top: 1em;
	} 

	.ML .context_left, .ML .context_right {
		max-height: 480px;
	}

	.ML h2 {
		max-height: 40px;
	}

	.socials {
		font-size: 18px;
    	padding: 0 5px;
	}
}
