@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Playfair+Display:700&display=swap');

body {
	background-color: #f9f9f9;
	width: 1000px;
	margin: 50px auto 50px auto;
	font-family: 'Montserrat', sans-serif;
	color: #5F5C6D;
	background-image: linear-gradient(90deg, #f9f9f9 0.33%, #ffffff 0.33%, #ffffff 50%, #f9f9f9 50%, #fff1e0 50.33%, #ffffff 50.33%, #ffffff 100%);
	background-size: 302.00px 302.00px;
}

h1, h2, h3 {
	font-family: 'Playfair Display', serif;
}

h1 {
	margin-bottom: 0;
}

/* layout */

.grid10Rows {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
}

.grid1Rows{
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(1, 1fr);
}

header{
	grid-column: 2 / span 8;
	grid-row: 1 / span 1;
}


a:visited, a {
	color: #5F5C6D;
}

.intro {
	font-size: 40px;
	grid-column: 2 / span 8;
	grid-row: 2 / span 6;
}

.intro p {
	margin-top: 10px;
    font-size: 30px;
}

.scroll{
	grid-column: 2 / span 1;
	grid-row: 6 / span 3;
}

em {
	font-weight: bold;
	font-style: normal;
  	position: relative;
  	text-decoration: none;
  	z-index: 1;
  	display: inline;
}


/* soulignement dégradé */
span {
	background: linear-gradient(180deg,#FFC470, #FC9A84);
	background-repeat: no-repeat;
	padding: 0 10px 0 0;
  	background-size: 110% 30%;
  	background-position-y : 30px;
	font-style: italic;
}

.intro span {
	background-size: 110% 40%;
    background-position-y: 20px;
}


/*apparition du gif au HOVER*/

.id {
  display: none;
  pointer-events: none;
  position: absolute;
  width: 300px;
	z-index: auto;
}

.ad {
	z-index: 3;
}

/*header*/

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-links {
	padding: 0 3em 0 0;
}

a {
	text-decoration: none;
}

.logo {
	max-width: 70px;
}

p {
	font-weight: 300;
}



/* galerie projet */
.grid10Rows>p {
	grid-column: 2 / span 8;
	grid-row: 1 / span 9;
	font-size: 40px;
	margin-top: 0;
}

.mobileTabletteOnly {
	display: none;
}

img {
	max-width: 100%;
}

img.image_1 {
  grid-column: 4 /  span 4;
  grid-row: 1 / span 4;
}


img.image_2 {
  grid-column: 7 / span 3;
  grid-row: 2 / span 3;
}


img.image_3 {
  grid-column: 3 / span 4;
  grid-row: 3 / span 5;
}


img.image_4 {
  grid-column: 6 / span 4;
  grid-row: 4 / span 5;
}

img.image_5 {
  grid-column: 2 / span 2;
  grid-row: 4 / span 2;
}

.draggable {
	cursor: move;
}


/* pied de page */
.socials {
	padding: 0 2em;
}

footer{
	text-align: center;
}

/* Page A propos*/

.bioImg, .mesCompetences {
    width: 800px;
    margin: auto;
    max-width: 80vw;
    padding: 3em 0;
}

.bioImg, .mesCompetences .itemsx3 {
    display: flex;
    justify-content: space-between;
}

.bioImg .biography, .bioImg img {
	max-width: 40%;
}

 .bioImg img{
	object-fit: contain;
 }

.mesCompetences .items_1, .mesCompetences .items_2, .mesCompetences .items_3 {
	width: 30%;
}

.mesCompetences .items_1 img, .mesCompetences .items_2 img, .mesCompetences .items_3 img {
	width: 70%;
}


/* page projet : ML */

.ML .intro {
	text-align: center;
}

.ML h2 {
	grid-column: 2/ span 3;
	grid-row: 7 / span 1;
}

.ML h4 {
	margin: 0;
}

.ML p {
	margin: 0;
}

.ML .projet .description, .ML .projet .illustration {
	display: flex;
	margin: auto;
	justify-content: space-between;
}

.ML .projet .illustration .responsive {
	padding-right: 1em;
}

.ML .projet .illustration .ux {
	padding-left: 1em;
}


.ML .projet .illustration .responsive, .ML .projet .illustration .ux {
	max-width: 45%;
}


.ML .projet .description {
	width: 800px;
}

.ML .projet .description .context, .ML .projet .description .demand {
	width: 45%;
	padding: 3em 0;
} 

.ML .projet .mockup {
  margin-top: 5em;
} 


.ML .maquette {
  background-image: url(img/mademoiselleLoyale/ML-maquette.png);
  min-height: 800px; 
  margin-top: 5em;
}


.ML footer{
	padding-top: 60px;
}


.ML .parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ML .entete {
  background-image: url(img/mademoiselleLoyale/ML-header.jpg);
  min-height: 500px; 
}

.ML .categorie {
    background: linear-gradient(180deg,#FFC470, #FC9A84);
    color: #fff;
    text-transform: uppercase;
    padding: 7px;
    letter-spacing: 4px;
    margin-right: 1em;
    grid-column: span 2;
    text-align: center;
}

.ML .first {
    grid-column: 4/ span 2;
    grid-row: 6 / span 1;
}

.ML .second {
    grid-column: 6/ span 2;
    grid-row: 6 / span 1;
}

